<div id="nav_bar" class="flex-row-sb-c"> 
  <a class="cursor-pointer no-underline" href="/">
    <span id="nav_logo" class="header-font">INVE24</span>
  </a>
  <span id="nav_menu" class="header-font cursor-pointer material-symbols-outlined">menu</span>
</div>

