<div id="nav_bar_container" class="header-font flex-row-sb-c cursor-pointer"> 
  <div>
    <span id="nav_bar_logo">INVE24</span>
  </div>
  <div>
    <div id="nav_bar_menu" class="btn-default" onclick="redirectLoginPage()">로그인</div>
  </div>
</div>

