<!DOCTYPE html>
<html class="flex-row-c-c test-border" lang="ko">

  <head>
    {{> head }}
  </head>

  <body class="font-default test-border">
    <header class="flex-row-c-c">
      {{> header }}
    </header>
    <div>
      {{> adfit }}
    </div>
    <main>
      {{{ body }}}
    </main>
    <footer class="flex-row-c-c">
      {{> footer }}
    </footer>
    {{> data }}
  </body>

</html>