<!DOCTYPE html>
<html class="flex-row-c-c" lang="ko">

  <head>
    {{> head }}
  </head>

  <body class="font-default">
    <header>
      {{> header }}
    </header>
    <div>
      {{> adfit }}
    </div>
    <main>
      {{{ body }}}
    </main>
    <footer>
      {{> footer }}
    </footer>
    {{> data }}
  </body>

</html>