<div id="home_wrap" class="flex-col-se-c">
  <div id="rso_container" class="flex-col-se-c container home-container">
    <div id="rso_title_box">
      <div id="rso_title">리그 오브 레전드 계정을 등록해주세요.</div>
    </div>
    <div id="rso_btn_box" class="flex-row-c-c">
      <img id="rso_icon" src="https://img.icons8.com/color/96/riot-games.png" alt="riot-games" />
      <div id="rso_btn" class="btn rso-btn-font" onclick="riotSignOn()">
        리그 오브 레전드 계정 등록하기
      </div>
    </div>
  </div>
  <div id="summoner_container" class="flex-col-se-c container home-container">
    <div class="summoner flex-row-sb-c">
      <div class="summoner-title">
        롤 계정 이름
      </div>
      <div class="btn summoner-select-btn">
        선택 >
      </div>
    </div>
  </div>
</div>