<div id="login_container" class="flex-col-se-c container-default">
  <span id="login_title">사용하시는 이메일 주소를 입력해주세요.</span>
  <input id="email_input" class="input-default" type="email" placeholder="이메일 주소" value="test1@naver.com" required/>
  <input id="password_input" class="input-default" type="password" placeholder="비밀번호" required/>
  <div id="check_btn" class="btn-default" onclick="check()">이메일로 시작하기</div>
  <div id="login_btn" class="btn-default" onclick="login()">로그인</div>
</div>