<div id="spectate_wrap" class="flex-col-se-c">
  <div id="summoner_profile_container" class="flex-col-sb-c container spectate-container">
    <div id="summoner_profile_box" class="flex-row-s-c">
      <div id="rank_img_box" class="flex-col-sb-c">
        <img id="rank_img"/>
      </div>
      <div id="league_box" class="flex-col-sb-c">
        <div id="league_summoner_box" class="flex-row-s-c">
          <div id="summoner_name" class="league-font high-font"></div>
          <div id="summoner_tag" class="league-font fade-font "></div>
        </div>
        <div id="league_tier" class="league-font high-font"></div>
        <div id="league_point" class="league-font fade-font"></div>
        <div id="league_score" class="league-font fade-font"></div>
      </div>
    </div>
    <div id="summoner_spectate_btn_box">
      <div id="start_spectate_btn" class="btn" onclick="spectate()">
        게임 조회
      </div>
      <div id="end_spectate_btn" class="btn" onclick="finishSpectate()">
        조회 중지
      </div>
    </div>
  </div>
  <div id="spectate_container" class="container spectate-container">
    <div id="spectate_log_box" class="flex-row-c-c">
      <textarea id="spectate_log_area" rows="10" placeholder="로그가 출력되는 곳입니다." disabled></textarea>
    </div>
  </div>
</div>