.nav-logo-font{
  font-size: 30px;
}

.nav-btn-font {
  font-size: 17px;
}

#nav_container {
  width: 100%;
  margin: 10px;
}

#nav_logo {
  width: 100%;
  color: #16B7B8;
}

#nav_login_btn {
  padding: 8px;
}

#nav_logout_btn {
  padding: 8px;
  display: none;
}
